@page "/RawData"
@using Metrics.Core
@using Metrics.Core.Enum
@using Metrics.Static.Components
@inherits RawDataBase

The Raw Data

@if (chartViews != null)
{
    <table border="1" cellpadding="5px">
        <tr>
            <td>Date</td>
            <td>Value</td>
        </tr>
        @foreach (var item in listoflists)
        {
            @foreach (var subitem in item)
            {
                @foreach (var subsubitem in subitem)
                {
                    <tr>
                        <td>@subsubitem.Date.ToString("dd/MM/yy HH:mm")</td>
                        <td>@subsubitem.Type</td>
                        <td>@subsubitem.Total</td>
                    </tr>
                }
            }
        }
    </table>
}
